body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
}

main {
  display: flex;
  margin: 30px;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: Monospace, cursive;
  font-size: 65px;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgb(119, 119, 119);
  text-align: center; }

.form-wrapper {
  background: rgba(255,255,255,0.2);
  width: 50%;
  padding: 15px;
  border-radius: 20px;
}